
*.txt
.Rhistory
Week2/Report-week-2_cache/html/tokenize_8e58eff43c44436339b64f49e3170b4d.rdb
Week2/Report-week-2_cache/html/tokenize_8e58eff43c44436339b64f49e3170b4d.RData
Week2/Report-week-2_cache/html/__packages
Week2/Report-week-2_cache/html/import_data_36aa0de1e3ef737b29d8ca6782d10ea3.RData
*.rdb
Week2/Report-week-2_cache/html/import_data_36aa0de1e3ef737b29d8ca6782d10ea3.rdx
Week2/Report-week-2_cache/html/tokenize_8e58eff43c44436339b64f49e3170b4d.rdx
*.png
